# Ignorar arquivos C
*.c linguist-vendored
*.h linguist-vendored

# Ignorar arquivos C++
*.cpp linguist-vendored
*.cc linguist-vendored
*.cxx linguist-vendored
*.hpp linguist-vendored

# Ignorar Makefiles
Makefile linguist-vendored
makefile linguist-vendored
GNUmakefile linguist-vendored

# Ignorar arquivos roff (usados para docs, man pages)
*.1 linguist-vendored
*.2 linguist-vendored
*.3 linguist-vendored
*.4 linguist-vendored
*.5 linguist-vendored
*.6 linguist-vendored
*.7 linguist-vendored
*.8 linguist-vendored
*.man linguist-vendored
*.ms linguist-vendored
*.troff linguist-vendored
*.roff linguist-vendored
